[submodule "home/.janus/apidock.vim"]
	path = home/.janus/apidock.vim
	url = https://github.com/mileszs/apidock.vim.git
[submodule "home/.janus/proj-vim"]
	path = home/.janus/proj-vim
	url = https://github.com/tmallen/proj-vim.git
[submodule "home/.janus/taskpaper"]
	path = home/.janus/taskpaper
	url = https://github.com/davidoc/taskpaper.vim.git
[submodule "home/.janus/transmit"]
	path = home/.janus/transmit
	url = https://github.com/tmallen/transmit-vim.git
[submodule "home/.janus/tslime"]
	path = home/.janus/tslime
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "home/.janus/solarized"]
	path = home/.janus/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "home/.janus/matchit"]
	path = home/.janus/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "home/.janus/ragtag"]
	path = home/.janus/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "home/.janus/repeat"]
	path = home/.janus/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "home/.janus/rspec"]
	path = home/.janus/rspec
	url = https://github.com/skwp/vim-rspec.git
[submodule "home/.janus/vim-textobj-rubyblock"]
	path = home/.janus/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "home/.janus/vim-textobj-user"]
	path = home/.janus/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "home/.janus/turbux"]
	path = home/.janus/turbux
	url = https://github.com/jgdavey/vim-turbux.git
[submodule "home/.janus/vimroom"]
	path = home/.janus/vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "home/.janus/unimpaired"]
	path = home/.janus/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "home/.janus/hammer.vim"]
	path = home/.janus/hammer.vim
	url = https://github.com/matthias-guenther/hammer.vim.git
[submodule "home/.janus/vim-smartinput.git"]
	path = home/.janus/vim-smartinput.git
	url = https://github.com/kana/vim-smartinput.git
[submodule "home/.janus/vim-indent-guides"]
	path = home/.janus/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "home/.janus/vim-slim"]
	path = home/.janus/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "home/.janus/goyo.vim"]
	path = home/.janus/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "home/.janus/dash.vim"]
	path = home/.janus/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
